{% if messages %}
    {% for message in messages %}
    <div id="message" class="container">
        <div class="alert alert-{{message.tags}} alert-dismissible text-center" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert">            </button>
            <strong>
                <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    Error: 
                {%else %}
                    {{ message.tags|title}}
                {%endif%}
            </strong>
            {{message}}
        </div>
    </div>
    {%endfor%}
{%endif%}