{% extends "base.html" %}
{% block title %}
Todo List
{%endblock%}
{% block content %}
<!-- alerts -->
<div class="mt-2">
    {% include 'partials/_alert.html' %}
</div>
<div class="container-fluid">
    <div class="row mx-5 ">
        {% if todo_lists%}
        {% for todo in todo_lists %}
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center justify-content-lg-center mb-3  mt-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="margin">
                        <span class="badge bg-status">{{todo.status}}</span>
                        {% if todo.priority == "High" %}
                        <span class="badge bg-danger">{{todo.priority}}</span>
                        {% elif todo.priority == "Medium" %}
                        <span class="badge bg-warning text-dark">{{todo.priority}}</span>
                        {% else %}
                        <span class="badge bg-success">{{todo.priority}}</span>
                        {%endif%}
                    </div>
                    <h5 class="card-title">{{todo.todo}} <a href="{% url 'update_todos' todo.id%}" class="btn btn-sm position-absolute top-0 end-0"
                            data-inline="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg></a></h5>

                    <p class="card-text">{{todo.category.category}}</p>
                    <!-- <a href="#" class="btn btn-primary-highlight">DONE!</a> -->
                    <div class="inline-buttons">
                        <a class="btn btn-primary-highlight"
                            href="javascript:{document.getElementById('done').submit()}" data-inline="true">
                            <i class=""></i> DONE!
                        </a>
                        <form action="{% url 'done' %}" id="done" method="POST" data-inline="true" >
                            {% csrf_token %}
                            <input type="hidden" value="{{todo.id}}" name="done">
                        </form>

                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg> {{todo.due_date}}</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                            <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path
                                d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
                        </svg> {{todo.pic}}</li>
                </ul>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="container">
            <h4 class="zero-cards">
                Please add new todos
            </h4>
        </div>
        {%endif%}
    </div>
</div>
</div>

{%endblock%}