{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos {% block title %}{%endblock%}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <body>
        <!-- navbar -->
        {% include 'partials/_navbar.html'%}
        {% block content %} {% endblock %}
        <!-- footer -->
        {% include 'partials/_footer.html'%}
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}  "></script>
    </body>

</html>